body,html{
    height: 100%;
    margin: 0;
    padding: 0;
}

.calc-juros{
    background-color: #67c5ff;
    border-radius: 15px;
    padding: 2%;
    margin:2%;
    box-shadow: #001233 10px 10px 10px;
    width: 40%;
    height: 50%;
    justify-content: center;
    display: flex;
}

.btn-calculadora{
    width: 100%;
    height: 2em;
    background-color: #021859;
    color: white;
    border-style: none;
    border-radius: 7px;
    margin-top: 10px;
}

.campo-calculadora{
    width: 100%;
    height: 2em;
    margin-bottom: 10px;
    border-radius: 7px;
    border-style: none;
}

@media screen and (max-width: 750px){
    .calc-juros{
        width: 100%;
        height: 100%;
    } 
}