html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
#foto-perfil{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 10px;
}

.card-central{
    margin: 10px;
}

.card-perfil{
    background-color: #a4dcff;
    box-shadow: #001233 10px 10px 7px 0px;
    border-radius: 5px;
}

hr{
    border-color: black;
    border-style: solid;
    margin: 10px;
    padding: 0;
}

.btn-com-hover{
    background-color: #a4dcff;
    color : #001233  ;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    border-style: none;
}

.btn-com-hover:hover{
    background-color: #4dbbff;
    box-shadow: #062143 7px 7px 5px 0px;
}

.item-lista-modal{
    background-color: #a4dcff;
    text-decoration: none;    
}

.item-lista-modal:hover{
    background-color: #4dbbff; 
}

.modal-body{
    background-color: #a4dcff;
}

.icone{
    height: 40px;
    width: 40px;
    padding: 2px;
}

.botao-fechar{
    background-color: #a4dcff;
    border-width: 0px;
    border-radius: 10%;
    padding: 2%;
}

.botao-fechar:hover{
    background-color: #4dbbff;
}

@media screen and (max-width: 750px){
    .card-central{
        width: 100%;        
        border-radius: 15px;
        padding: 2%;
        margin:2%;
        height: 100%;
    }
    .card-perfil{
        width: 100%;
    }
}
