ody, html{
    height: 100%;
    margin: 0;
    padding: 0;
}

.estilo-navbar {
    background-color: #ff3b76;
    height: 4em;
}

.corpo-pagina{
    background-color: #fff7ff;
    height: 100%;
}

.navbar-link{
    color: white;
    text-decoration: none;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    display: block;
}

.navbar-link:hover{
    color: white;    
}

#foto-perfil{
    border-radius: 100%;
    width: 10em;
    height: 10em;
}

.card-aline{
    background-color: #ffd1e2;
    border-radius: 15px;
    padding: 2%;
    margin:2%;
    box-shadow: #ff3b76 10px 10px 10px;
    width: 50%;
    height: 50%;
}

p{
    padding-left: 1em;
}

.calculadoras{
    padding : 1em;
    background-color: #ff3b76;
    border-style: none;
    color: white;
}

.calculadoras:hover{
    cursor: pointer;
}

.option-calculadora{
    background-color: #ff3b76; 
    color: white;
}

.logo-card{
    border-radius: 100%;
    width:50px;
    height: 50px;
    margin-top:1em;
    margin-bottom: 1em;
}

.fale-comigo{
    width: 100%;
    background-color: #ff3b76; 
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 7px;
    text-decoration: none;
}
.fale-comigo:hover{
    color: white;
}

@media screen and (max-width: 750px){
    .card-aline{
        border-radius: 15px;
        padding: 2%;
        margin:2%;
        width: 100%;
        height: 100%;
    }
}