<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Calculadora Juros</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/index_style.css'>
    <link rel="stylesheet" href="../static/css/calculadora_style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</head>
<body>
    <div class="corpo-pagina">
        <div class="estilo-navbar">
            <ul class="navbar nav justify-content-center h-10">
                <li class="item-navbar">
                    <a class="navbar-link" aria-current="page" href="../index.html">Página Principal</a>
                </li>
            </ul> 
        </div>
    <div class="d-flex justify-content-center">
        <div class="calc-juros">
        <form class="calculadora">
            <h3>Calcule quanto você receberá por mês - Juros Simples</h3>
            <div>
                <label>Quanto você tem investido?</label><br>
                <input class="campo-calculadora" id="valor-investido" type="number" placeholder="Digite aqui">
            </div>
            <div>
                <label>Qual a rentabilidade anual?</label><br>
                <input class="campo-calculadora" id="rentabilidade-anual" type="number" placeholder="Digite aqui">
            </div>
            <div>
                <button class="btn-calculadora" id = "btn-calcular" type="submit" onclick="calcularJurosMensais()" >Calcular</button>
            </div>
        </form>
        </div>
    </div>
    </div>
    <script src="../static/js/juros_simples.js"></script>
    <script src="../static/js/redirecionamento_paginas.js"></script>
</body>
</html>
